<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pooa20181.iff.edu.br.androidprojectpooa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="br.edu.iff.pooa20181.androidproject.activity.Principal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.edu.iff.pooa20181.androidproject.activity.ListaPersonagem"
            android:label="@string/title_activity_lista_personagem"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="br.edu.iff.pooa20181.androidproject.activity.PersonagemDetalhe"></activity>
    </application>

</manifest>